{% extends 'layout.html' %}

{% block content %}
<form
    method="POST"
    action=""
    enctype="multipart/form-data"
>
    {% csrf_token %} <!-- making token -->
    {{ form.as_p }}

    <p>
        <button type="submit">저장</button>
    </p>
</form>

{% endblock %}

<!-- {{form.as_p}}
{% for field in form %}
    <p>
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}

        {{ field }}
    </p>
    {% endfor %}


    {{field.errors}}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
-->